* {
    box-sizing: border-box;
}    

body {
    margin: 0;
    background: no-repeat center center fixed; 
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

/*--- typography ---*/

div.ai-news-con,
div.weather,
div.center,
p#img-author,
h3#todo-toggle {
    color: #fff;
    text-shadow: 0px 0px 20px #242424;
}
a {
    color: #fff;
    text-decoration: none;
}
div#ai-news a {
    font-size: 1.1rem;
    text-decoration: underline ;
    font-family: inherit;
    font-weight: 600;
}

div#ai-news p {
    font-size: 0.9rem;
    text-transform: capitalize;
}

h1.time {
    font-size: 5rem;
    text-decoration-line: underline;
    text-decoration-thickness: 8px;
}

p.weather-temp {
    margin: 0;
    font-size: 1.7rem;
}

p.weather-city,
p#author { font-size: 1.13rem; }

button.clear-todo-list {
    font-family: inherit;
    font-size: 0.8rem;
    letter-spacing: 1.3px;
    color:#535353;
    text-decoration: underline;
}

/*--- layout ---*/

main {
    padding: 15px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr) ;
}

div.weather {
    grid-column: 3;
    align-self: center;
}

div.center {
    grid-column: 2;
    text-align: center;
}

p#img-author,
h3#todo-toggle {
    grid-row: 3;
    align-self: end;
}

h3#todo-toggle {
    grid-column: 3;
    justify-self: end;
    cursor: pointer;
}

div#weather {
    justify-self: end;
    align-self: start;
}

p.weather-city {
    margin-top: -8px;
    text-align: right;
}

div.temperature {
    display: flex;
    align-items: center;
}
div.temperature > img { width: 70px;}

div.todo-list-con {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 1em;
    bottom: 8vh;
    min-height: 250px;
    height: auto;
    width: 25vw;
    border-radius: 6px;
    background-color: #fff;
    padding: 1em;
}

div.todo-list-con input {
    width: 90%;
    position: absolute;
    bottom: 1.5vh;
    border: none;
    background-color: transparent;
    color:#242424;
    border-top: 1px solid #D9D8D7;
    padding: 0.5em;
}

div.todo-list-con input:focus {
    outline: none;
    border: 1px solid #D9D8D7;
    border-radius: 4px;
}

ul.todo-list {
    list-style: none;
    width: 25vw;
    margin: 0;
    padding: 0;
    color:#242424;
    text-shadow: none;
    margin-bottom: 40px;
}

ul.todo-list li {
    font-size: 0.9rem;
    letter-spacing: 1.3px;   
    margin-bottom: 0.65em;
}

ul.todo-list li input[type="checkbox"] {
    vertical-align: bottom;
    position: relative;
    top: -1px;
    margin-right: 1em;
}

button.clear-todo-list {
    width: 100%;
    height: 15px;
    background: transparent;
    border: none;
    margin-bottom: 0.65em;
}

.checkbox-wrapper-13 input[type=checkbox] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;

    -webkit-appearance: none;
    -moz-appearance: none;
    height: 20px;
    width:18px;
    outline: none;
    border-radius: 5px;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: ease-in-out 0.3s, border-color 0.3s, box-shadow 0.2s;
}
.checkbox-wrapper-13 input[type=checkbox]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
}
.checkbox-wrapper-13 input[type=checkbox]:checked {
  --b: var(--active);
  --bc: var(--active);
  --d-o: .3s;
  --d-t: .6s;
  --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
}
.checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
  width: 21px;
}
.checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
  opacity: var(--o, 0);
}
.checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
  --o: 1;
}
.checkbox-wrapper-13 input[type=checkbox] + label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 4px;
}
.checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
   top: 4px;
   transform: rotate(var(--r, 20deg));
}
.checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
  --r: 43deg;
}
.checkbox-wrapper-13 * {
    box-sizing: inherit;
}
.checkbox-wrapper-13 *:before,
.checkbox-wrapper-13 *:after {
   box-sizing: inherit;
} 